@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

/* Ensure buttons don't have weird default browser borders */
button {
  cursor: pointer;
}
/* Tighter font control for the Home Tab */
.home-text-sm { font-size: 16px !important; }